# MongoDB Atlas connection
MONGODB_URI=mongodb+srv://marineminds06_db_user:marineminds06@marinedataset.qkuk5pa.mongodb.net/?appName=marinedataset
MONGODB_DATABASE=marinedataset
MONGODB_APP_NAME=debris-marinedataset
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
